!!! XML
!!! Strict
%html
  %head
    %link{:media => "all", :rel => "stylesheet", :href => "/style.css", :type => "text/css"}/
    %title
      Katch-Up
  %body
    %h1
      you should have already worked
    %span{:class => 'red big'}
      = "±#{@worked_hours}"
    *
    %h2
      hours to
      %em{:class => 'red'}
        katch-up 
      with monthly hours
    %p
      *ignoring holidays - mon-fri - 8h/day - YMMV
    %hr/
    %p
      useless app by
      %br/
      %a{:href => "http://qmx.me"}
        @qmx
      %br/
      %a{:href => "http://twitter.com/scalone", :title => "poor blogless soul"}
        @scalone
      %script{:src => "/ga.js"}
      

