!!! XML
!!! Strict
%html
  %head
    %link{:media => "all", :rel => "stylesheet", :href => "/style.css", :type => "text/css"}/
    %title
      Katch-Up
  %body
    %h1
      you should have already worked ±
    %span{:class => 'red big'}=@worked_hours
    *
    %h2
      hours to
      %em{:class => 'red'}
        katch-up 
      with monthly hours
    %p
      *ignoring holidays - mon-fri - 8h/day - YMMV
    %hr/
    %p
      useless app by
      %br/
      %a{:href => "http://qmx.me"}
        @qmx
      %br/
      %a{:href => "http://twitter.com/scalone", :title => "poor blogless soul"}
        @scalone
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5104067-9']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
